.App {
  margin-top: 40px;
  text-align: center;
}

.App div {
  background: grey;
  color: white;
  display: inline-block;
  margin: 0 10px 20px;
  padding-bottom: 20px;
  width: calc(20% - 20px);
}
